NODE_ENV=your_enviroment
PORT=your_port
DATABASE=mongodb+srv://username:<PASSWORD>@cluster0.vxxiidw.mongodb.net/your_database
DATABASE_PASSWORD=your_password_database

# JWT VARIABLES
JWT_SECRET_KEY=my-super-utral-secret-long-key-hsa
JWT_COOKIE_EXPIRES_IN=
JWT_EXPIRES_IN=7d
